.JindexContainer {
    width: 100vw;
    position: relative;
    height: 100vh;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.JindexContainerInner {
    height: 100vh !important;
    overflow: hidden;
    background-color: rgb(0, 161, 156);
}

.JindexImg01 {
    width: 100vw;
    height: 100vh;
}

.JindexImg01Inner {
    
    width: calc(100% + 1px);
    height: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* @media (min-width: 48rem) {
    .d-md-block {
        display: block !important;
    }
} */

/* @media (min-width: 48rem) {
    .d-md-none {
        display: none !important;
    }
} */

.JgeneralBannerBG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* background: var(--bg-overlay); */
}

.JmasterRow1Container .JindexImgContent {
    position: absolute;
}

.JindexImgContent {
    /* position: fixed; */
    bottom: 80px !important;
    left: 125px !important;
    top: auto !important;
    right: auto !important;
    color: #fff;
    width: calc(100% - 250px);
    z-index: 2;
    text-shadow: var(--text-shadow);
}

.JindexImgContent p {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 300;
    position: relative;
  
}

p{
    margin-top: 15px;
}

p{

    margin-bottom: 1rem;
}

.JindexImgContent h1 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;
    max-width: 700px;
    margin-top: 18px;
    position: relative;
    
}

h1{

    margin: 0px;
    font-family: 'Museo Sans', sans-serif;

}

.JmasterRow1Container .JindexImgContent .subContent {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    max-width: 700px;
}

.JindexImgContent p {

    font-family: 'Museo Sans', sans-serif;
    font-weight: 300;
    position: relative;
}

p {
    margin: 0px;
    padding: 0px;
}

a.link-read-more {
    margin-top: 1.25rem;
    
    display: flex;
    -webkit-box-align: center;
   
    align-items: center;
}

a {
    text-decoration: none;
    color: #00A19C;
    transition: all 300ms ease;
}

a.link-read-more i {
    width: 32px;
    height: 32px;
    background: url(./read-more-news.png) center no-repeat;
}

a {
    text-decoration: none;
    color: #00A19C;

}

a.link-read-more p {
    margin-left: .625rem;
    color: #fff;
    font-family: "Museo Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.JindexImgContent p {

    font-weight: 300;
    position: relative;
}


.JmasterRow2Container {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.JgeneralBanner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
   
    background-size: cover;
    position: relative;
}

.JindexImg01Inner2 {
    width: 100vw;
    height: 100vh;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 48rem) {
    .d-md-block {
        display: block !important;
    }
}

@media (min-width: 48rem) {
    .d-md-none {
        display: none !important;
    }
}

.JmasterRow2BG {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    background: var(--bg-overlay);
}

.paragraph--type--section-banner .JmasterRowContent {
    text-shadow: var(--text-shadow);
}

.JmasterRowContent {
    position: absolute;
    bottom: 80px !important;
    left: 125px !important;
    top: auto !important;
    right: auto !important;
    color: #fff;
    width: calc(100% - 250px);
    z-index: 2;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

body[data-aos-easing=ease-in-out-quad] [data-aos] {
    transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}

[data-aos^=fade][data-aos^=fade] {
   
    transition-property: opacity, transform;
}

.JmasterRowContent h2 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;
    max-width: 700px;
    margin-top: 18px;
}

h2 {
    margin: 0px;
    font-family: 'Museo Sans', sans-serif;
    
}


.JmasterRowContent .subContent {
    margin-top: 16px;
    max-width: 700px;
    font-size: 16px;
    line-height: 20px;
}

.JmasterRowContent a p {
    font-size: 18px;
    line-height: 22px;

}

.JmasterRow7Container {
    padding-top: 100px;
}

.JmasterRow7ContainerInner {
    margin: auto;
    position: relative;
}


.JmasterRow7BGouter {
    position: absolute;
    top: -100px;
    height: calc(100% + 100px);
    width: calc(100% - 160px);
    margin: 0px 80px;
    left: 0px;
}

.JmediaRow3 .JmasterRow7BG {
    height: calc(100% + 50px);
    top: -50px;
    background: linear-gradient(180deg, rgba(0, 161, 156, 1) 0%, rgba(10, 131, 155, 1) 90%);
}



.JmasterRow7BG {
   
    position: absolute;
    left: 0px;
    width: 51.25%;
}

.JmasterRow7Content {
    width: 100%;
    position: relative;
}

.JmediaRow3 .JmasterRow7ContentBanner {
    display: none;
}

.JmasterRow7ContentBanner {
    width: calc(100% - 70px);
    margin: 0px 35px;
    border-radius: 69px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 59.063%;

}

.JmediaRow3 .JmasterRow7ContentInner {
    padding-bottom: 0px;
}

.JmediaRow3 .JmasterRow7ContentInner {
    align-items: flex-start;
}

.JmediaRow3 .JmasterRow7ContentInner {
    padding-top: 0px;
}

.JmasterRow7ContentInner {
    position: relative;
    width: calc(100% - 160px);
    margin: 0px 80px;
    display: flex;
    /* padding-bottom: 50px; */
}

.JmediaRow4 .JmasterRow7BG {
 
    background: linear-gradient(180deg, rgba(10, 131, 155, 1) 0%, rgba(41, 65, 154, 1) 100%);
    
}
.JmasterRow7Left {
    color: #fff;
    width: calc(44.921%);
    padding: 0px 40px 0px 40px;
    position: relative;
}

.JmasterRow7LeftInner h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: normal;
}
.JmasterRow7Desc {
    margin-top: 25px;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 300;
}

.JmasterRow7Subtitle {
    margin-top: 10px;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 300;
}

p {
    font-size: 16px;
    line-height: 20px;
}
p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 300;
}

p {
   
    margin-bottom: 1rem;
}
p {
    margin: 0px;
    padding: 0px;
}
.JmasterRow7Right {
   
    margin-left: auto;
    width: 47.38%;
}

/* .JmasterRow7RightInner {
    margin-left: 44px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.JmediaRow3List {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
   
    align-items: center;

   
} */

.JmasterRow7RightInner {
    margin-left: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Add this for even spacing */
    width: 100%; /* Ensure it uses the full container width */
}

.JmediaRow3List {
    width: calc(50% - 10px); /* Each item takes half the width minus 10px for spacing */
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box; /* Ensure padding/borders don't affect width */
}

img{
    vertical-align: middle;
}

.JmediaRow3ListIconM{
    display: none;
}

.JmediaRow3ListRight {
    width: calc(100% - 82px);
    margin-left: 30px;
}

.JmediaRow3ListRight a {
    font-size: 20px;
    line-height: 28px;
    color: #000;
}


.JmediaRow4 .JmasterRow7BG {
    height: calc(100% + 50px);
    top: -50px;
    /* background: linear-gradient(180deg, rgba(0, 161, 156, 1) 0%, rgba(10, 131, 155, 1) 90%); */
}

.JmediaRow4 .JmasterRow7ContentBanner {
    display: none;
}

.JmasterRow7ContentBanner {
    width: calc(100% - 70px);
    margin: 0px 35px;
  
    border-radius: 69px;
    overflow: hidden;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 59.063%;
}
.JmediaRow4 .JmasterRow7ContentInner {
    padding-top: 0px;
}

.JmediaRow4 .JmasterRow7ContentInner {
    align-items: flex-start;
}

/* [data-aos=fade-left] {
    transform: translate3d(100px, 0, 0);
} */

strong {
    font-weight: bolder;
}

.JmediaRow4Contact {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.JmediaRow4Contact img {
    width: 27px;
}

.JmediaRow4ContactIconC {
    display: none;
}

.JmediaRow4ContactRight {
    width: calc(100% - 42px);
    margin-left: 15px;
}

.JmediaRow4ContactRight a {
    color: #fff;
    text-decoration: underline;
}

.JmasterRow7Right {
  
    margin-left: auto;
    width: 47.38%;
}



iframe {
    border: 0;
}


.p1 {
    background-color: #00A19C;
    color: #ffffff;
    font-weight: 700;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.text-align-center {
    text-align: center;
}

h3{

    margin: 0px;
    font-family: 'Museo Sans', sans-serif;
}

/* @media (min-width: 75rem) {
    h3 {
        font-size: 1.75rem;
    }
} */

.JgeneralFooterContainer {
    overflow: hidden;
}

.JgeneralFooterSlider {
    background: #ccc;
    width: 100%;
    height: 500px;
}

.JgeneralFooterSliderInner{
    height: 100%;
}

.JgeneralFooterSliderInner {
    position: relative;
}

.splide.is-initialized{
    visibility: visible;
}

.JgeneralFooterSliderInner > section{
    height: 100%;
}

/* @media (min-width: 75rem) {
    .h3, h3 {
        font-size: 1.75rem;
    }
} */

.JgeneralFooterSliderInner > section > div{

    height: 100%;
}

.splide__track {
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.JgeneralFooterSliderInner > section > div > ul {
    padding-right: 34% !important;
}

.JgeneralFooterSliderInner > section > div > ul{
    height: 100%;
}


.splide__slide {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.splide__slide {
    backface-visibility: hidden;
    box-sizing: border-box;
   
    flex-shrink: 0;
    list-style-type: none !important;
    margin: 0;
    position: relative;
}

.splide {
    position: relative;
   
}
.splide__list {
    backface-visibility: hidden;
   
    display: flex;
 
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
}

.splide__track--draggable {
   user-select: none;
}


.JgeneralFooterSliderInner > section > div > ul > li {
    height: 100%;
}
.JgeneralFooterSliderImg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.JgeneralFooterSliderInner > section > div > ul > li.is-active .JgeneralFooterSliderBG {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
}
/* .JgeneralFooterSliderInner > section > div > ul > li.is-active .JgeneralFooterSliderBG {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
} */
.JgeneralFooterSliderBG {
    transition: all 300ms ease;
    background: var(--bg-overlay);
    opacity: 0;
}

.JgeneralFooterSliderContent {
    position: absolute;
    left: 120px;
    top: 60px;
    max-width: 375px;
    color: #fff;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.JgeneralFooterSliderContent{

    opacity: 1;
    visibility: visible;
}
.JgeneralFooterSliderContent h2 {
    font-size: 40px;
    line-height: 48px;
}

.JgeneralFooterSliderContent p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 300;
    margin-top: 15px;
}

.JgeneralFooterSliderContent a {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.JgeneralFooterSliderContent a i {
    width: 32px;
    height: 32px;
    background: url(./read-more\ \(1\).png) center no-repeat;
}

.JgeneralFooterSliderContent a p {
    margin-left: 10px;
    text-transform: capitalize;
    color: #fff;
}

.JgeneralFooterSliderContent p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 300;
    margin-top: 15px;
}

.JgeneralFooterSliderInner > section > div > ul > li.is-active .JgeneralFooterSliderBG {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.JgeneralFooterSliderInner > section > div > ul > li.is-active .JgeneralFooterSliderContent {
    opacity: 1;
    visibility: visible;
}


/* form */
.mb-3 {
    margin-bottom: 1rem !important;
}

.form-control {
    padding: 15px 20px;
    
    border-radius: 10px;
    border: 1px solid #00A19C;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40;
    background-color: #fff;
    background-clip: padding-box;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

input
    {
        margin: 0;
        font-family: inherit;
}


input {
    box-sizing: border-box;
}


.form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 100%;
    
    box-sizing: border-box;
}


textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}
input[type=checkbox] {
    accent-color: #00a19c;
    width: 16px;
    height: 16px;
}

.form-check-input {
   
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
   
    appearance: none;
  
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

small {
    font-size: .875em;
}

@media only screen and (max-width: 768px) {
    .btn-primary {
        position: static;
        margin-top: 30px;
    }
}


.btn-primary {
    background: transparent;
    color: #00A19C;
    padding: 0px;
    border: none;
    display: flex;
    align-items: center;
}


.btn-primary{
    border-radius: var(--bs-border-radius-pill) !important;

}


.btn-primary:before {
    content: '';
    width: 32px;
    height: 32px;
    background: url(./read-more-c.png) center no-repeat;
    margin-right: 10px;
    
}



 .JgeneralFooterSliderNavi {
    position: absolute;
    top: 50%;
    left: 66%;
    width: 98px;
    height: 98px !important;
    
    border-radius: 100px;
    background: #fff;
    
    transform: translateY(-50%);
    margin-left: -49px;
    z-index: 3;
} 


.JgeneralFooterSliderNavi > div {
    height: 100%;
    width: 100%;
}

.JgeneralFooterSliderNaviInner > div:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 100px;
    background: #763F98;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

*::before{
    box-sizing: border-box;
}
.JgeneralFooterSliderNavi > div > div {
    height: 100%;
    width: 100%;
}
.splide__arrow:hover:not(:disabled) {
    opacity: .9;
}

.JgeneralFooterSliderNavi button {
    width: 16px;
    height: 25px;
    background: transparent;
  
    left: 20px;
}

.JgeneralFooterSliderNavi button svg {
    display: none;
}

button{
    text-transform: none;
}

button{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.splide__arrow--prev svg {
    transform: scaleX(-1);
}

.splide__arrow svg {
    fill: #000;
    height: 1.2em;
    width: 1.2em;
}

.splide__arrow {
    
    align-items: center;
   
    border: 0;
    border-radius: 50%;
   
    
    display: flex;
  
    justify-content: center;
    
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    z-index: 1;
}
.JgeneralFooterSliderNavi button svg {
    display: none;
}
.splide__arrow--prev svg {
    transform: scaleX(-1);
}
svg {
    vertical-align: middle;
}

.splide__arrow svg {
    fill: #000;
    height: 1.2em;
    width: 1.2em;
}
.JgeneralFooterSliderNavi button:last-child {
    left: 63px;
}

.JgeneralFooterSliderNavi button {
    width: 16px;
    height: 25px;
    background: transparent;
    opacity: 1;
    /* left: 20px; */
} 

.splide__arrow--next {
    right: 1em;


}

/* [type=button], button {
    -webkit-appearance: button;
} */

.splide__arrow svg {
    fill: #000;
    height: 1.2em;
    width: 1.2em;
}

.JgeneralFooterSliderNavi button.splide__arrow--next:before {
    content: '';
    width: 16px;
    height: 25px;
    background: url(./foote-slider-arrow02.png) center no-repeat;
    transform: rotate(180deg);

}

.JgeneralFooterSliderNavi button.splide__arrow--prev:before {
    content: '';
    width: 16px;
    height: 25px;
    background: url(./foote-slider-arrow01.png) center no-repeat;
    background-size: 16px auto;
}



/* nav */

:root {
    --bg-overlay: linear-gradient(180deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100%);
    --text-shadow: 1px 2px 3px rgba(0,0,0,0.35);
    --petronas-green: #00a99d;
}


body {
    font-family: arial;
    background: #fff;
    font-family: 'Museo Sans',sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-family: 'Segoe UI';
}

body,html,#page-wrapper {
    height: 100%
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    font-family: 'Museo Sans',sans-serif;
    font-weight: normal;
}

p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    font-family: 'Museo Sans',sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #00A19C;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

a:hover {
    opacity: 0.5;
}

h1 p,h2 p,h3 p,h4 p,h5 p,h6 p {
    font-size: inherit;
    line-height: inherit;
}

.noScrollbar {
    overflow: hidden;
}

.fancybox-active {
    height: 100%;
}

.cf:before,.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom:1;
}

.JindexNaviContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
    top: -99px;
    
}

.JindexNaviContainerInner {
    display: flex;
    align-items: center;
}

.JindexNaviLeft {
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    z-index: 1;
}

.JindexNaviLeft a {
    display: block;
    width: 110px;
}

.JindexNaviLeft a img {
    display: block;
    max-width: 110px;
    width: 100%;
}

.JindexNaviLeft a img.JindexNaviLeftLogoB {
    display: none;
}

.JindexNaviLeft p {
    margin-bottom: 0;
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 0;
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
}

.JindexNaviRight {
    margin-left: 15px;
    width: calc(100% - 223px);
}

.JindexNaviRightTop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.JindexNaviRightTop ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-right: 28px;
}

.JindexNaviRightTop ul li {
}

.JindexNaviRightTop ul li a {
    font-family: 'Museo Sans',sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: block;
    color: #FFF;
    padding: 25px 25px 23px;
}

.JindexNaviRightTopSub {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.JindexNaviRightTopSub a {
    margin-left: 26px;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.JindexNaviRightTopSub a:first-child {
    margin-left: 0px;
}

.JindexNaviRightTopSub .languageIcon {
    width: 21px;
    height: 20px;
    background-image: url(/Aditee/images/top-language.svg);
}

.JindexNaviRightTopSub .languageIcon.lang-ms {
    background-image: url(/Aditee/images/top-language-ms.svg);
}

.JindexNaviRightTopSub a.searchIcon {
    width: 21px;
    height: 21px;
    background-image: url(/Aditee/images/top-search.svg);
}

.JindexNaviRightTopSub .languageIcon2 {
    width: 21px;
    height: 20px;
    background-image: url(/Aditee/images/top-language2.svg);
}

.JindexNaviRightTopSub a.burgerMenuIconM {
    width: 22px;
    height: 11px;
    display: none;
    position: relative;
}

.JindexNaviRightTopSub a.burgerMenuIconM span {
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.JindexNaviRightTopSub a.burgerMenuIconM span:nth-child(2) {
    top: 5px;
}

.JindexNaviRightTopSub a.burgerMenuIconM span:nth-child(3) {
    top: 10px;
    width: 12px;
    left: auto;
    right: 0px;
}

.JindexNaviRightBtm {
    padding-top: 18px;
    border-top: 1px solid rgba(255,255,255,.3);
    padding-right: 20px;
    padding-top: 0px;
    
}

.JindexNaviRightBtmM,.JindexNaviRightBtmPatternM,.JindexNaviRightBtmSocialM {
    display: none;
}

.JindexNaviRightBtm ul.JindexNaviRightBtmNavi {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: flex-end;
    align-items: center;
}

.JindexNaviRightBtm ul.JindexNaviRightBtmNavi li {
}

.JindexNaviRightBtm ul.JindexNaviRightBtmNavi li a {
    font-size: 14px;
    line-height: 14px;
    font-family: 'Museo Sans',sans-serif;
    font-weight: 700;
    display: block;
    color: #fff;
    padding: 18px 36px;
}

.JindexNaviRightBtm ul.JindexNaviRightBtmNavi li a:hover,.JindexNaviRightBtm ul.JindexNaviRightBtmM li a:hover {
    opacity: 1;
}

.JindexNaviRightBtm ul.JindexNaviRightBtmNavi li:last-child a {
    padding-right: 0px;
}

.JindexNaviContainer.active .JindexNaviContainerInner,.JindexNaviContainer.force-active .JindexNaviContainerInner {
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

.JindexNaviContainer.active .JindexNaviLeft a img.JindexNaviLeftLogoW,.JindexNaviContainer.force-active .JindexNaviLeft a img.JindexNaviLeftLogoW {
    display: none;
}

.JindexNaviContainer.active .JindexNaviLeft a img.JindexNaviLeftLogoB,.JindexNaviContainer.force-active .JindexNaviLeft a img.JindexNaviLeftLogoB {
    display: block;
}

.JindexNaviContainer.active .JindexNaviLeft p,.JindexNaviContainer.force-active .JindexNaviLeft p {
    color: #fff;
    border-color: #000;
}

.JindexNaviContainer.active .JindexNaviRightBtm,.JindexNaviContainer.force-active .JindexNaviRightBtm {
    border-color: rgba(0,0,0,.3);
}

.JindexNaviContainer.active .JindexNaviRightTop ul li a,.JindexNaviContainer.active .JindexNaviRightBtm ul li a,.JindexNaviContainer.force-active .JindexNaviRightTop ul li a,.JindexNaviContainer.force-active .JindexNaviRightBtm ul li a {
    color: #fff;
}

.JindexNaviContainer.active .JindexNaviRightTop ul li a:hover,.JindexNaviContainer.force-active .JindexNaviRightTop ul li a:hover {
    color: var(--petronas-green);
    opacity: 1;
}

.JindexNaviContainer.active .JindexNaviRightTop ul li a,.JindexNaviContainer.force-active .JindexNaviRightTop ul li a {
    font-family: 'Museo Sans',sans-serif;
    font-weight: 700;
}

.JindexNaviContainer.active .JindexNaviRightTopSub a,.JindexNaviContainer.active .JindexNaviRightTopSub div,.JindexNaviContainer.force-active .JindexNaviRightTopSub a,.JindexNaviContainer.force-active .JindexNaviRightTopSub div {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.JhasSubInner {
    display: none;
    position: absolute;
    top: 110px;
    width: 100%;
    left: 0px;
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 6px 6px 0 rgb(0 0 0 / 16%);
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 16%);
}

.JindexNaviRightBtmNavi .JhasSubInner {
    border-top: 1px solid rgba(0,0,0,.3);
}

.JhasSubInnerTop {
    top: 61px;
}

.JhasSubInnerInner {
    max-width: 842px;
    margin-left: auto;
    padding: 35px 0px 40px;
}

.JhasSubInner ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    flex-wrap: wrap;
}

.JhasSubInner ul li {
    width: calc(33.3333% - 20px);
    margin-right: 30px;
    margin-left: 0px !important;
    margin-bottom: 25px;
}

.JhasSubInner ul li:nth-child(3n) {
    margin-right: 0px;
}

.JhasSubInner ul li a {
    font-family: 'Museo Sans',sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    padding: 0px !important;
}

.JindexNaviRightBtm ul.JindexNaviRightBtmNavi li a.activeNavi,.JindexNaviContainer.active .JindexNaviRightBtm ul.JindexNaviRightBtmNavi li > a:hover,.JindexNaviContainer.force-active .JindexNaviRightBtm ul.JindexNaviRightBtmNavi li > a:hover {
    color: #00A19C;
}

.JsideNaviContainer {
    position: fixed;
    right: 0px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 4;
    right: -60px;
}

.JsideNaviContainer ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 60px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -webkit-box-shadow: 0 7px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 7px 7px 0 rgba(0,0,0,.2);
    overflow: hidden;
}

.JsideNaviContainer ul li {
    border-bottom: 1px solid #fff;
}

.JsideNaviContainer ul li:last-child {
    border-bottom: none;
}

.JsideNaviContainer ul li a {
    background-color: #763F98;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.JsideNaviContainer ul li a i {
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(/Aditee/images/icon-sprite.png);
    background-repeat: no-repeat;
    background-size: 500px auto;
}

.JsideNaviContainer ul li a.JsideNavi01 i {
    background-position: -10px -185px;
}

.JsideNaviContainer ul li a.JsideNavi02 i {
    background-position: -10px -220px;
}

.JsideNaviContainer ul li a.JsideNavi03 i {
    background-position: -10px -255px;
}

.JsideNaviFooter {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 4;
    bottom: -75px;
}

.JsideNaviFooter a {
    background: #fff;
    border: 2px solid #00A19C;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.JsideNaviFooter a i {
    display: block;
    width: 32px;
    height: 32px;
    background: url(/Aditee/images/side-chat.svg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0px;
}

.noScroll {
    overflow: hidden;
}

.JindexNaviContainer.show .JindexNaviContainerInner,.JindexNaviContainer.show .JhasSubInner {
    background: rgba(255,255,255,1);
}

.JsideNaviContainer ul {
    overflow: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.JsideNaviContainer ul:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 0 7px 7px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 7px 7px 0 rgb(0 0 0 / 20%);
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.JsideNaviContainer ul.active:before {
    height: calc(100% + 140px);
}

.JsideNaviContainer ul li {
    position: relative;
}

.JsideNaviContainer ul li a {
    opacity: 1;
}

.JsideNaviContainer ul li:first-child a {
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
}

.JsideNaviContainer ul li:last-child a {
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}

.JsocialLinkInner {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 60px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}

.JsocialLinkInner a {
    min-width: 25px !important;
    min-height: 25px !important;
    background-image: url(Aditee/images/icon-sprite.png) !important;
    background-repeat: no-repeat !important;
    background-size: 500px auto;
    display: block !important;
    margin: auto;
    padding: 7px 17px 7px;
    background-color: transparent !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 37px !important;
}
 .JsocialLinkInner a:first-child {
    padding: 12px 17px 7px;
    height: 44px !important;
}

.JsocialLinkInner a:last-child {
    padding: 7px 17px 17px;
    -webkit-border-bottom-left-radius: 15px !important;
    -moz-border-radius-bottomleft: 15px !important;
    border-bottom-left-radius: 15px !important;
    height: 49px !important;
}

.JsocialLinkInner a.JsocialFB {
    background-position: 10px -286px;
}

.JsocialLinkInner a.JsocialIN {
    background-position: 10px -324px;
}

.JsocialLinkInner a.JsocialTT {
    background-position: 10px -361px;
}

.JsocialLinkInner a.JsocialYT {
    background-position: 10px -398px;
}

.JsocialLinkInner a.JsocialLI {
    background-position: 10px -438px;
}

.JsocialLinkInner a.JsocialTok {
    background-position: 10px -480px;
}

.JindexRow3LeftListContent {
    width: calc(100% - 83px);
}

.Jcontact01ListContainer {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
}

.Jcontact01List {
    width: calc(33.3333% - 15.3333px);
    margin-right: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgba(112,112,112,.3);
    margin-bottom: 20px;
}

.Jcontact01List:nth-child(3n) {
    margin-right: 0px;
}

.Jcontact01ListInner {
    padding: 25px 40px;
}
.nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}
@media (prefers-reduced-motion:reduce) {
    .nav-link {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }
}

.nav-link:focus,.nav-link:hover {
    color: var(--bs-nav-link-hover-color);
    text-decoration: none
}

.nav-link.disabled {
    color: var(--bs-nav-link-disabled-color);
    pointer-events: none;
    cursor: default
}

.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: #dee2e6;
    --bs-nav-tabs-border-radius: 0.375rem;
    --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
    --bs-nav-tabs-link-active-color: #495057;
    --bs-nav-tabs-link-active-bg: #fff;
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color)
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    background: 0 0;
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius)
}

.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color: var(--bs-nav-tabs-link-hover-border-color)
}

.nav-tabs .nav-link.disabled,.nav-tabs .nav-link:disabled {
    color: var(--bs-nav-link-disabled-color);
    background-color: transparent;
    border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color)
}

.nav-tabs .dropdown-menu {
    margin-top: calc(-1 * var(--bs-nav-tabs-border-width));
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #00A19C
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius)
}

.nav-pills .nav-link:disabled {
    color: var(--bs-nav-link-disabled-color);
    background-color: transparent;
    border-color: transparent
}

.nav-pills .nav-link.active,.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg)
}

.nav-fill .nav-item,.nav-fill>.nav-link {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center
}

.nav-justified .nav-item,.nav-justified>.nav-link {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center
}

.nav-fill .nav-item .nav-link,.nav-justified .nav-item .nav-link {
    width: 100%
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0,0,0,0.55);
    --bs-navbar-hover-color: rgba(0,0,0,0.7);
    --bs-navbar-disabled-color: rgba(0,0,0,0.3);
    --bs-navbar-active-color: rgba(0,0,0,0.9);
    --bs-navbar-brand-padding-y: -0.1875rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(0,0,0,0.9);
    --bs-navbar-brand-hover-color: rgba(0,0,0,0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(0,0,0,0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x)
}

.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: inherit;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    white-space: nowrap
}

.navbar-brand:focus,.navbar-brand:hover {
    color: var(--bs-navbar-brand-hover-color);
    text-decoration: none
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link.active,.navbar-nav .show>.nav-link {
    color: var(--bs-navbar-active-color)
}

.navbar-nav .dropdown-menu {
    position: static
}

.navbar-text {
    padding-top: 0;
    padding-bottom: 0;
    color: var(--bs-navbar-color)
}

.navbar-text a,.navbar-text a:focus,.navbar-text a:hover {
    color: var(--bs-navbar-active-color)
}

.navbar-collapse {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    -webkit-transition: var(--bs-navbar-toggler-transition);
    -o-transition: var(--bs-navbar-toggler-transition);
    transition: var(--bs-navbar-toggler-transition)
}

@media (prefers-reduced-motion:reduce) {
    .navbar-toggler {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }
}

.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    -webkit-box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width)
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100% 100%;
    background-size: 100%
}
@media (min-width: 36rem) {
    .navbar-expand-sm {
        -webkit-flex-wrap:nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-sm .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x)
    }

    .navbar-expand-sm .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-sm .navbar-collapse {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-sm .navbar-toggler {
        display: none
    }

    .navbar-expand-sm .offcanvas {
        position: static;
        z-index: auto;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: auto!important;
        height: auto!important;
        visibility: visible!important;
        background-color: transparent!important;
        border: 0!important;
        -webkit-transform: none!important;
        -o-transform: none!important;
        transform: none!important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }

    .navbar-expand-sm .offcanvas .offcanvas-header {
        display: none
    }

    .navbar-expand-sm .offcanvas .offcanvas-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible
    }
}

@media (min-width: 48rem) {
    .navbar-expand-md {
        -webkit-flex-wrap:nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-md .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x)
    }

    .navbar-expand-md .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-md .navbar-collapse {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-md .navbar-toggler {
        display: none
    }

    .navbar-expand-md .offcanvas {
        position: static;
        z-index: auto;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: auto!important;
        height: auto!important;
        visibility: visible!important;
        background-color: transparent!important;
        border: 0!important;
        -webkit-transform: none!important;
        -o-transform: none!important;
        transform: none!important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }

    .navbar-expand-md .offcanvas .offcanvas-header {
        display: none
    }

    .navbar-expand-md .offcanvas .offcanvas-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible
    }
}

@media (min-width: 62rem) {
    .navbar-expand-lg {
        -webkit-flex-wrap:nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x)
    }

    .navbar-expand-lg .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }

    .navbar-expand-lg .offcanvas {
        position: static;
        z-index: auto;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: auto!important;
        height: auto!important;
        visibility: visible!important;
        background-color: transparent!important;
        border: 0!important;
        -webkit-transform: none!important;
        -o-transform: none!important;
        transform: none!important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }

    .navbar-expand-lg .offcanvas .offcanvas-header {
        display: none
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible
    }
}

@media (min-width: 75rem) {
    .navbar-expand-xl {
        -webkit-flex-wrap:nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-xl .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x)
    }

    .navbar-expand-xl .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-xl .navbar-collapse {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-xl .navbar-toggler {
        display: none
    }

    .navbar-expand-xl .offcanvas {
        position: static;
        z-index: auto;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: auto!important;
        height: auto!important;
        visibility: visible!important;
        background-color: transparent!important;
        border: 0!important;
        -webkit-transform: none!important;
        -o-transform: none!important;
        transform: none!important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }

    .navbar-expand-xl .offcanvas .offcanvas-header {
        display: none
    }

    .navbar-expand-xl .offcanvas .offcanvas-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible
    }
}

@media (min-width: 87.5rem) {
    .navbar-expand-xxl {
        -webkit-flex-wrap:nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-xxl .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-xxl .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-xxl .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x)
    }

    .navbar-expand-xxl .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-xxl .navbar-collapse {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-xxl .navbar-toggler {
        display: none
    }

    .navbar-expand-xxl .offcanvas {
        position: static;
        z-index: auto;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: auto!important;
        height: auto!important;
        visibility: visible!important;
        background-color: transparent!important;
        border: 0!important;
        -webkit-transform: none!important;
        -o-transform: none!important;
        transform: none!important;
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }

    .navbar-expand-xxl .offcanvas .offcanvas-header {
        display: none
    }

    .navbar-expand-xxl .offcanvas .offcanvas-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible
    }
}

.navbar-expand {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.navbar-expand .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x)
}

.navbar-expand .navbar-nav-scroll {
    overflow: visible
}

.navbar-expand .navbar-collapse {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.navbar-expand .navbar-toggler {
    display: none
}

.navbar-expand .offcanvas {
    position: static;
    z-index: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: auto!important;
    height: auto!important;
    visibility: visible!important;
    background-color: transparent!important;
    border: 0!important;
    -webkit-transform: none!important;
    -o-transform: none!important;
    transform: none!important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.navbar-expand .offcanvas .offcanvas-header {
    display: none
}

.navbar-expand .offcanvas .offcanvas-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible
}

.navbar-dark {
    --bs-navbar-color: rgba(255,255,255,0.55);
    --bs-navbar-hover-color: rgba(255,255,255,0.75);
    --bs-navbar-disabled-color: rgba(255,255,255,0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255,255,255,0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0,0,0,0.03);
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius)
}

.card hr {
    margin-right: 0;
    margin-left: 0
}

.card .list-group {
    border-top: inherit;
    border-bottom: inherit
}
.JindexHomeDesktop {
    height: 100%;
}